/* google font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* bootstrap icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/* font-family: "Manrope", serif;
font-family: "Inter", serif;
font-family: "Poppins", serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

/* Container Styles */
.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* For smaller screens (up to 576px) */
@media (max-width: 576px) {
    .container {
        max-width: 100%;
    }
}

/* For medium screens (576px to 768px) */
@media (min-width: 576px) and (max-width: 768px) {
    .container {
        max-width: 540px;
    }
}

/* For larger screens (768px to 992px) */
@media (min-width: 768px) and (max-width: 992px) {
    .container {
        max-width: 720px;
    }
}

/* For very large screens (992px to 1200px) */
@media (min-width: 992px) and (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
}

/* For very large screens (larger than 1200px) */
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}


/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.logo>a{
    font-size: 24px;
    font-weight: bold;
    color: #3A3A3A;
}

.navLinks{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.navLinks>li>a{
    font-size: 16px;
    font-weight: 600;
    color: #3A3A3A;
    transition: all .5s;
}
.navLinks>li>a>i{
    font-size: 20px;
}

.navLinks>li>a:hover{
    color: #e02c6d ;
}

.menu{
    display: none;
}

.menu>i{
    font-size: 30px;
    color: #1B1B1B;
    font-weight: bold;
}

.cart{
    display: none;
}

.cart>li>a>i{
    font-size: 27px;
    color: #1B1B1B;
    font-weight: bold;
}

.closeIcon{
    display: none;
}


@media (max-width: 768px) {
    .menu{
        display: block;
    }
    .closeIcon{
        display: block;
        position: absolute;
        color: white;
        font-size: 32px;
        top: 10px;
        right: 15px;
    }
    .cart{
        display: block;
    }
    .navLinks{
        background: #e02c6d;
        flex-direction: column;
        width: 70vw;
        height: 100vh;
        position: absolute;
        right: 0;
        top: 0;
        display: none;
        transition: all 5s;
    }
    .navLinks>li>a{
        color: white;
    }
    .navLinks>li>a>i{
        display: none;
    }
    .log>a{
        font-size: 14px;
    }
}